
.input {
    background-color: #fff;
}

.input.filter {
    height: 4rem;
    width: 18rem;
    font-size: 1.25rem;
    color: #00000087;
    padding-left: 1rem;
}

.manage-movie-half {
    height: 4rem;
    width:31.25rem;
    color: #00000087;
    font-size: 20px;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.disabled {
  pointer-events: none;
  background-color: antiquewhite;
}

.manage-movie-full {
    width: 65rem;
    height: 4rem;
    color: #00000087;
    font-size: 20px;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.authentication {
    display: block;
    width: 25rem;
    height: 4rem;
    padding: 0 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border: 1px solid #2596BE;
}

/* .authentication-submit-button {
    width: 26.5rem;
    height: 4rem;
    background-color: #2596BE;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
} */

.form-submit-button {
    width: 26.5rem;
    height: 4rem;
    background-color: #2596BE;
    margin-bottom: 1rem;
    border-radius: 20px;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: noto sans;
}

.input.border {
    border: 1px solid #2596BE;
    border-radius: 20px;
  }

  .input.range {
      height: 1rem;
      color: #2596BE;
  } 

  .error {
      color: red;
      font-size: 0.75rem;
      font-weight: bold;
  }