
.input {
    background-color: #fff;
}

.input.filter {
    height: 4rem;
    width: 18rem;
    font-size: 1.25rem;
    color: #00000087;
    padding-left: 1rem;
}

.manage-movie-half {
    height: 4rem;
    width:31.25rem;
    color: #00000087;
    font-size: 20px;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.manage-movie-full {
    width: 65rem;
    height: 4rem;
    color: #00000087;
    font-size: 20px;
    padding: 0 0.5rem;
    margin-top: 1rem;

}

.input.border {
    border: 1px solid #2596BE;
    border-radius: 20px;
  }

  .input.range {
      height: 1rem;
      color: #2596BE;
  } 