.pending-comment-item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 54.5rem;
    border-radius: 20px;
    margin: auto;
    padding: 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.pending-comment-textcontainer {
    padding: 1rem;
    border-left: 2px solid #00000033;
    border-right: 2px solid #00000033;
    width: 100%;
}

.pending-comment-textcontainer p {
    margin-left: 1.5rem;
}

.comment-details, .pending-comments-buttons {
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.comment-details div, .pending-comments-buttons div {
    margin: 0.7rem 0;
}

.comment-details, .pending-comments-buttons {
    width: 45%;
}