
.button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.button.movie-card-button {
    width: 6.25rem;
    height: 1.4rem;
  
}

.button.watched-movies {
    color: #fff;
    padding: 0.5rem 1rem;
}