.manage-movie-container {
    width: 66rem;
    margin: auto;

}

.manage-movie-half-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manage-movie {
    width: 69.4rem;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 1rem;
}

.manage-movie-textarea {
    width: 64rem;
    height: 8rem;
    color: #00000087;
    font-size: 20px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    font-family: calibri;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid #2596BE;
    margin-bottom: 2rem;
}
/* .form-submit-button {
    width: 26.5rem;
    height: 4rem;
    background-color: #2596BE;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;

} */
